@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #444;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
 
}

body {
  margin: 0;
  padding: 0;
  background: $color-light;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 100%;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 200;
  margin-right: 30px;
  color: white;

  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
}

.sidebar {
  flex-grow: 1;
  background-color: #2bcbba;
  text-align: right;
  max-width: 250px;
}

.posts {
  flex-grow: 10;
  position: relative;
  background-color: #d1d8e0;
}


/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 60px;
  line-height: 1;
  text-align: center;
  color: white;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 70%;
    left: 50%;
    bottom: -24px;
    transform: translateX(-50%);
    background-color: white;
  }
}

/* Lists */

.list {
  list-style-type: none;
  margin-right: 30px;
  padding: 0;
  .active {
    font-weight: bold;
  }
}

.list-horizontal {

  li {
    display: inline-block;
    }
}

/* Tags */

.tags {

  li {
    display: inline;

    a {
      text-decoration: none;
      color: white;
    }
  }
}

.tag-size-1 {
  font-size: 12px;
}

.tag-size-2 {
  font-size: 14px;
}

.tag-size-3 {
  font-size: 16px;
}

.tag-size-4 {
  font-size: 18px;
}

.tag-size-5 {
  font-size: 20px;
  text-transform: uppercase;
}


/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */


.post {
  transition: all 1s ease;
  opacity: 0;    
  position: absolute;
  margin: 20px 100px;
  top: 40px;
  background-color: white;
  
  &.active { 
    opacity: 1;
    z-index:1;
  
  }
}

.post-img {
  
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.post-inner {
  padding: 0 50px;
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }

  li {
    margin-right: 10px;
  }

}